node_modules
vendor

.env
.env.*.local
.env.testing
.env.production
.DS_Store
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

*.log
*.swp
*.swo
*.bak
*.tmp
*.idea/
*.vscode/
